.footer {
  background-color: var(--secundary-color);

  height: auto;
}

.footer .container {
  padding: 3rem 0;
}

.footer .title {
  color: var(--body-color);
  font-size: 1rem;
  text-align: center;
}

.footer a {
  color: var(--body-color);
}

.footer a:hover {
  color: var(--primary-color);
}

@media (min-width: 1200px) {
  .footer .title {
    font-size: 1.3rem;
  }
}
